@use "../../styles/variables" as *;

@use "../../styles/variables" as *;

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}