$primary-white:#FFFFFF;
$primary-black:#121212;
$primary-light-gray:#DEDEDE;
$primary-dark-gray:#575757;

$secondary-white: #FCFCFC;
$secondary-black: #1A1818;
$secondary-gray: #9C9C9C;

$accent-red: #9B4B4B;
$accent-gold: #AB8956;


//FONTS

//FONT FAMILY 

$font-heading: "Cormorant SC", sans-serif;
$font-main: "Inter",sans-serif;

//FONT SIZES

$font-h1: 16px;
$font-h2: 12px;

$font-p-big: 16px;
$font-p-base: 14px;
$font-p-small: 12px;


$font-caption-12: 12px;
$font-caption-8: 8px;


//FONT WEIGHTS

$font-light: 300;
$font-medium: 500;
$font-bold: 700;

//SPACING

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;

$space-15: 60px;
$space-20: 80px;
$space-25: 100px;
$space-50: 200px;